# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# And add what git will be ignore in project.

# npm
.npmrc

# dependencies
/node_modules
/.pnp
.pnp.js

# ide
.vscode
.idea

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# cypress
**/cypress/videos
**/cypress/screenshots

# certificates
*.pem
*.crt
