html.theme-dark {
  --color-text-regular: #FFFFFF;
  --color-placeholder: #FFFFFF80;
  --color-text-for-accent: #1B020E;
  --color-icon-fill: #F19021;
  --bg-primary: #000000;
  --bg-secondary: #1C1C1C;
  --bg-accent: #F0DA7D;
  --bg-accent-hover: #F0DA7DB3;
  --bg-button-hover: #F0DA7D40;
  --border-color-primary: #BA8E47;
}
